.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  *{
      text-align: center;
      background-color: #333;
      box-sizing: border-box:
  }

  .section-boxes{

  }

  #header{
    padding: 20px;
    color: #333;
    background: #ccc;
    margin: 10px 200px 10px 200px;
  }

  #NAV{
    padding: 20px;
    margin: 10px 200px 10px 200px;
    color: #333;
    background: #ccc;
  }

  #section{
    color: #333;
    background: #ccc;
    margin: 10px 200px 10px 200px;
    padding: 20px;
    float: left;
    width: 500px;
    height: 200px;
    position: relative;
  }

  #article{
    padding: 20px;
    color: #ccc;
    background: #333;
    width: 400px;
    height: 140px;
    position: absolute;
    top: 50px;
    right: 50px;
  }

  #h1h2h3{
    padding: 20px;
    color: #333;
    background: #ccc;
    float: left;
    width: 350px;
    height: 15px;
    position: absolute;
    top: 45px;
  }

  #p{
    padding: 20px;
    color: #333;
    background: #ccc;
    float: left;
    width: 350px;
    height: 15px; 
    position: absolute;
    top: 110px;
  }

  #aside{
    padding: 20px;
    color: #333;
    background: #ccc;
    float: left;
    width: 273px;
    height: 200px;
    position: absolute;
    left: 770px;
    margin-top: 10px;
  }

  #footer{
    padding: 20px;
    margin: 10px 200px 10px 200px;
    color: #333;
    background: #ccc;
    text-align: center;
  }